@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
}

body
{
	display: flex;
	flex-flow: column nowrap;

	min-width: 320px;
	min-height: 100%;
}

#main
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: flex-start;

	width: 100%;
	max-width: 950px;
	min-height: 800px;
	margin: 0 auto;
	margin-top: 250px;
	padding: 0 50px;
}

body, button, span, input, textarea
{
	font-family: "Underdog", cursive;
	font-size: 23px;
}

h1
{
	font-size: 48px;

	margin-top: 10px;

	text-align: center;
}

h2
{
	font-size: 38px;

	margin-top: 25px;

	text-align: center;
}

p
{
	margin-top: 25px;
	padding: 0 15px;

	text-align: center;
}

button, input
{
	font-size: 18px;
	font-weight: bold;

	width: 100%;
	margin-top: 50px;
	padding: 20px 25px;

	cursor: pointer;
	transition: 0.3s background-color, color, border;
	text-align: center;
	text-transform: uppercase;

	border: 2px solid black;
	background-color: white;
}

input
{
	cursor: text;
}

button:hover
{
	color: white;
	border: 2px solid black;
	background-color: black;
}

.addictional
{
	font-size: 18px;

	width: 100%;
	margin-top: 5px;
	padding-left: 80px;

	text-align: left;

	opacity: 0.4;
}

.results
{
	display: flex;
	flex-flow: column nowrap;

	width: 100%;
	margin-top: 50px;
}

.result
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
	min-height: 50px;
	border-bottom: 1px solid black;
	width: 100%;
	padding: 0 15px;
}

.result p
{
	margin-top: 0;
}

.result__name
{
	flex-grow: 1;
}

.result__name
{
	text-align: left;
}

.result__value
{
	min-width: 50px;
	text-align: left;
}

.result__date
{
	min-width: 200px;
}


@media screen and (max-width: 800px)
{
	.addictional
	{
		padding-right: 25px;
		padding-left: 50px;
	}
}

@media screen and (max-width: 800px)
{
	h1
	{
		font-size: 38px;
	}
	h2
	{
		font-size: 28px;
	}
	#main
	{
		max-width: 100%;
		padding: 0 25px;
	}
	p
	{
		font-size: 18px;
	}
	.addictional
	{
		margin-top: 15px;
		padding-right: 20px;
		padding-left: 20px;
	}
	.result
	{
		flex-flow: row wrap;
	}
	.result p
	{
		text-align: center;
		flex-grow: 1;
		font-size: 23px;
	}
	.result__name
	{
		margin-top: 10px;
		width: 100%;
	}
	.result__value, .result__date
	{
		padding: 10px 0;
	}
	.result p.result__value
	{
		text-align: right;
		margin-right: 50px;
	}
	.result p.result__date
	{
		margin-left: 50px;
		text-align: left;
	}
}

@media screen and (max-width: 475px)
{
	.result
	{
		flex-flow: column wrap;
	}
	.result p
	{
		padding: 10px 0;
	}
	#main
	{
		padding: 0 5px;
	}
	.result p.result__value
	{
		padding: 5px 0;
		text-align: center;
		margin-right: 0
	}
	.result p.result__date
	{
		margin-left: 0;
		text-align: center;
	}
}

@media screen and (max-height: 900px)
{
	#main
	{
		margin-top: 100px;
	}
}

@media screen and (max-height: 700px)
{
	#main
	{
		margin-top: 50px;
	}
}

@media screen and (max-height: 600px)
{
	#main
	{
		margin-top: 25px;
	}
}
